/*******************
     GENERAL
*******************/
html, body
{
    height: 100%;
}

body {
    background-color: #EEEEFF;
    background-image: url('../images/bgtile.jpg');
    //background-repeat: repeat-x;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: Verdana, sans-serif;
}

img {
    border: none;
}

a {
    color: #697C9B;
}

a:hover {
    color: #293956;
}

div#bounding
{
    clear: both;
}

div, img {
    margin: 0px;
}

p, ul {
    margin-top: 0px;
}

ul {
    line-height: 20px;
}

form.hide { display: none }

.green{
    color: green;
}
.red{
    color: #AF0000;
}
.orange{
    color: #DF6E00;
}
.fa{
    margin-right: 0.3em;
}
.fa-trash-o{
    margin-right: 0;
}

/*******************
    DIV LAYOUTS
*******************/

div#container {
    position: relative;
    max-width: 1600px;
   /* min-width: 750px; */
    //width: 98%;
    margin: 0px auto;
}

div#heading {
    //background: #394C6B;
    //border: 1px solid #394C6B;
    //height: 100px;
}
div#heading h1{
    color: #465873;
    margin-bottom: 8px;
    display: inline-block;
}
div#heading img {
    margin: 0px 8px;
    padding: 1px;
    border: 0px;
    float: left;
    width: 60px;
}

div#navigation {
    height: auto;
    border: none;
    //border-width: 1px 0px;
    padding: 5px 10px;
    font-size: 1em;
}

div#content {
    height: auto;
    position: relative;
    background: #E5E5FF;
    //border: 3px solid #061E45;
    padding: 20px 50px;
    font-size: 1em;
}

div#footer {
    border-top: 2px solid #9FAFCC;
    background: #061E45;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    word-spacing: 50px;
}



/*******************
  Navigation Bar
*******************/

div#navigation a.orig, 
div#navigation span.orig {
    display: block;
    float: left;
    border: solid #EEEEFF;
    border-width: 0px 1px;
    margin: 0px 40px;
    padding: 7px 10px;
    text-decoration: none;
    color: #061E45; /* lightback*/
    /*color: #9FAFCC; /* darkback*/
}

#navigation #selectPresent
{
    display: inline-block;
    position: relative;
}

#navigation span#addPresent a
{
    line-height: 18px;
}

/*div#navigation a:first-child {
    border-left: 1px solid #9FAFCC;
}*/

div#navigation a.orig:hover,
div#navigation span.orig {
    background: #061E45;
    color: #EEEEFF; /*lightback*/
    /*background: #9FAFCC;
    color: #061E45; /*darkback*/
}

div#navigation a
{
    color: #061A40;
}

div#navigation a:hover
{
    color: #364A70;
}

div#navNav, div#navRight
{ display: inline-block; }

div#navRight
{ /*position: absolute; right: 5px;*/ float:right; }

div#navRight span
{ margin: 0 5px; }

div.clearer { clear:both; }

span#quizLink a
{
    width: auto;
    height: auto;
}

div#navigation #profileLink.notComplete a{
        /* Chrome, Safari, Opera */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: myfirst;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%    {color:#FDFF75; text-shadow: 0 0 5px #FDFF75;}
    20%   {color:black; text-shadow: none;}
    100%  {color:black; text-shadow: none;}
}

/*******************
     Content
*******************/

form.bordered
{
    padding: 10px;
    border: 3px outset #C4C4DD;
    text-align: right;
}
#signinButton iframe, #signinButton button {
    width: 112px !important;
    height: 37px !important;
}
#login form
{
    width: 240px;
}


#register table fieldset, #register form{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}
#register form{
    max-width: 550px;
}
#register input[type='radio']{
    margin-right: 0;
}
#register table td.pair{
    width: 50%;
    float: left;
}
#register #leftColumn
{
    width: 130px;
    text-align: right;
}
#register input:not([type="radio"]), #register select{
    width: 14em;
    margin-bottom: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#register .rightColumn
{
    text-align: left;
}


#register #tablePerson
{
    float: left;
    width: 300px;
}

#register #tableDisa
{
    float: right;
    width: 265px;
}

#register textarea
{
    width: 50%;
    height: 46px;
}

form #formError
{
    color: Red;
    margin: 10px;
    text-align: left;
}

#updatedFields
{
    color: Green;
    margin: 10px;
    text-align: left;
}

#chooser dt
{
    margin-top: 15px;
}

#chooser input, #chooser select{
  vertical-align:top;
  height:1.6em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#joinCourse
{
    position: relative;
    //float: right;
    width: 200px;
}

#joinCourse #courses
{
    border: 2px solid #5555AA;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}

#classroom
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    /*background-color: black;*/
}

#com-head { padding: 10px; }
#com-head #head-text
{
    font-size: 1.2em;
    margin-left: 20px;
}

span.addingPresents
{
    width: 400px;
    position: relative;
    z-index: 1;
    display: inline-block;
    background-color: #E5E5FF;
    border: 3px outset #061A40;
    vertical-align: top;
}

#classroom #pageHeader
{
    float: left;
    position: relative;
    top: 30px;
    width: 75%;
    text-align: center;
}

#classroom #AddQuizDialog
{
    display: none;
}

#AddQuizDialog span
{
    font-size: 0.8em;
}

.no-close-button .ui-dialog-titlebar-close
{ display: none; }

#pageHeader #courseTitle
{
    font-weight: 400;
    font-size: 1.6em;
}

#pageHeader #session
{
    font-weight: 300;
    font-size: 1.4em;
    position: relative;
    top: 15px;
} 

#displayBox
{
    float: right;
    position: relative;
    width: 70%;
    height: 100%;
    margin-right: 0px; 
    min-height: 400px;
    background-color: black;
}
#displayFrame
{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}

#userComments
{
    position: relative;
    margin-top: -2px;
    padding-left: 0;
    padding-right: 0px;
    clear: right;
    overflow-y: auto;
    border: none;
    background: none;
}

.newComment
{
    background-color: rgb(255,200,0);
}

#commentTable table
{
    //table-layout: fixed;
    margin: 0;
    width: 100%;
    //border-top: 1px solid black;
    border-collapse: collapse;
}

#commentTable table tr{
    background: #E5FBFF;
}
#commentTable table tr:nth-child(2n){
    background: #FAFAD9;
}

#commentTable table td{
    padding-bottom: 5px;
}

#commentTable table td.control{
    width: 16px;
    padding-right: 12px;
    border: none;
}

#commentTable p 
{
    word-wrap: break-word;
}
#addComment{
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}
.prating
{
    padding: 0;
    margin: 0;
}

#ShowQuizDialog table#showAnswers
{
    width: 80%;
    text-align: center;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

table#showAnswers tr:first-child th:first-child { border-top-left-radius: 8px; }
table#showAnswers tr:first-child th:last-child  { border-top-right-radius: 8px; }
table#showAnswers tr:last-child  td:first-child { border-bottom-left-radius: 8px; }
table#showAnswers tr:last-child  td:last-child  { border-bottom-right-radius: 8px; }

table#showAnswers td:first-child { border-right: 2px solid #8FCFF8; }
table#showAnswers td:last-child { border-left: 2px solid #8FCFF8; }
table#showAnswers tr:first-child th { border-bottom: 2px solid #4F8FC8; }

#ShowQuizDialog table#showAnswers td
{
    padding-right: 10px;
}

#ShowQuizDialog table#showAnswers tr:nth-child(even) { background-color: #AFEFFF; }
#ShowQuizDialog table#showAnswers tr:nth-child(odd)  { background-color: #6FB8EE; }

#userComments form
{
    display: inline;
}

tr.hiddenComment, tr.addressedComment
{
    display: none;
}

.icons
{
    background: url(../images/icons.gif) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

a#iplus:hover { color: green !important; }

a#iup           { background-position:   0px   0px; }
a#idown       { background-position: -16px   0px; }
a#iplus       { background-position: -64px   0px; }
a#ilogout   { background-position: -64px -32px; }
a#iaddress { background-position: -32px   0px; }
a#ihide       { background-position: -48px   0px; }
a#iresaddr { background-position: -32px -32px; }
a#ireshide { background-position: -48px -32px; }
a#iminus     { background-position:   0px -48px; }
a#ipreson   { background-position: -16px -64px; }
a#ipresoff { background-position: -32px -64px; }
a#iup:hover           { background-position:   0px -16px; }
a#idown:hover       { background-position: -16px -16px; }
a#iplus:hover       { background-position: -64px -16px; }
a#ilogout:hover   { background-position: -64px -48px; }
a#iaddress:hover { background-position: -32px -16px; }
a#ihide:hover       { background-position: -48px -16px; }
a#iresaddr:hover { background-position: -32px -48px; }
a#ireshide:hover { background-position: -48px -48px; }
a#iminus:hover     { background-position:   0px -64px; }
a#ipreson:hover   { background-position: -32px -64px; }
a#ipresoff:hover { background-position: -16px -64px; }
span#iup         { background-position:   0px -32px; }
span#idown     { background-position: -16px -32px; }
span#iminus   { background-position: -16px -48px; }
span#ipres     { background-position: -48px -64px; }
/*******************
       Footer
*******************/

div#footer a,
div#footer span {
    color: #9FAFCC;
    text-decoration: none;
}

div#footer a:hover,
div#footer span {
    text-decoration: underline;
}

/*******************
       COLORS
********************

9FAFCC
3A5D99 (old)
     light, bgcolor, navHover/current, txt

061E45
     dark, divBorder, txt
     
899CBB
     navbar

394C6B
     header

293956
     dark (close to header)
     
EEEEFF
     content bgcolor
*/

@media screen and (max-width: 340px){
    div#heading img{
        width: 60px;
    }
    div#heading h1{
        font-size: 1.6em;
    }
}
@media screen and (max-width: 530px){
    #register form>fieldset>label, #register form>fieldset>input,
    #register form>fieldset>select,
    #register form>fieldset>span.radio,
    #register form>fieldset>textarea{
        display: inline-block !important;
        box-sizing: border-box !important;
        width: 100% !important;
        text-align: center !important;
    }
    #register form>fieldset>label,
    #register form>fieldset>textarea{
        margin-bottom: 0;
    }
    form.bordered{
        border: none;
        padding: 0;
    }
}
@media screen and (max-width: 600px){
    body, #container{
        margin: 0 !important;
    }
    #content{
        padding: 10px!important;
    }
}